{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}


{% block body %}

<section class="" style="margin-top:100px;">
        <div class="container">
            <div class="row pb-3 mb-2 justify-content-center">
                <h2 class="pr-3" style="">wtGallery</h2>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-md-6 col-lg-4 item">-->
<!--                    <a class="lightbox" href="{% static 'img/image1.jpg' %}">-->
<!--                        <img class="img-fluid image scale-on-hover" alt="image" src="{% static 'img/image1.jpg' %}">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
</section>



{% endblock body %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}