{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}


{% block body %}

<section class="pb-5" style="margin-top:100px;">
        <div class="container">
            <div class="row">
            {% for portfolio in portfolio %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top img-fluid" src="{{ portfolio.image.url }}">
                        <div class="card-body row d-flex justify-content-between">
                            <h5 class="card-title pl-2">{{ portfolio.title }}</h5>
                            <a class="btn btn-outline-danger" role="button" href="{{ portfolio.image.url }}" download>Download</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>



{% endblock body %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}