{% extends 'layout.html' %}
{% load static %}
{% block title %} Video's {% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block body %}
  <main id="main" style="margin-top:78px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Recent Music's</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for portfolio in portfolio %}

          <div class="col-lg-4 col-md-6 portfolio-item">
              <audio id="player" style="margin-top:10px;margin-bottom:10px"   controls onclick="views(1)"  download>
                 <source src="{{ portfolio.file.url }}"  name="{portfolio.file.name}}" type="audio/mp3" download="{portfolio.file.name}}">
              </audio>
              <div class="mx-auto my-1 col-lg-12 d-block" style="font-size: 10px;">
                <p class="float-left">
                  <span class="font-weight-bold">Uploaded by:</span> <a href="{% url 'profile' username=portfolio.user.username %}">{{portfolio.user}}</a>
                  <span class="font-weight-bold">Audio:</span> <a href="{% url 'profile' username=portfolio.title %}">{{portfolio.title}}</a>
                </p>
                <p class="float-right">
                  <span class="font-weight-bold" id="views{{portfolio.id}}">Views:</span> {{portfolio.views}}
                </p>
              </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% block script %}

{% endblock script %}

{% endblock body %}