{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}


{% block body %}
<div class="container" style="margin-top:100px;">
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
{% endblock body %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}